{% extends "students/base.html" %}


  {% block content%}

    <h1>Студент: {{ student.surname }} {{ student.name }}</h1>

      <ul class="list-group">
         <li class="list-group-item">Дата рождения: {{ student.date_of_birth }}</li>
         <li class="list-group-item">Imail: {{ student.email }}</li>
         <li class="list-group-item">Телефон: {{ student.phone }}</li>
         <li class="list-group-item">Пакет: {{ student.package }}</li>
         <li class="list-group-item">Курс:<br>
                    {% for course in student.courses.all %}
                        <a href="{% url 'course_item' course.id %}">
                            {{ course.name }}<br>
                        </a>
                    {% endfor %}
          </li>
         <li class="list-group-item">Dossier: {{ student.dossier }}</li>
      </ul>

    <div>

    <p align="center"><a href="{% url 'students_list' %}" class="btn btn-lg btn-default">К списку</a></p>

    </div>  
     
  {% endblock %}


  {% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
  {% endblock %}



