{% extends "courses/base.html" %}


  {% block content%}

     <h1>Название курса: {{ course.name }}</h1>

      <h2>Язык программирования: {{ course.tehnology }}</h2>

      <ul class="list-group">

         <li class="list-group-item">Описание: {{ course.description }}</li>
         <li class="list-group-item">Учитель: {{ course.teacher }}</li>
         <li class="list-group-item">Асистент: {{ course.assistent }}</li>
         <li class="list-group-item">Дата начала: {{ course.date_start }}</li>
         <li class="list-group-item">Дата окончания: {{ course.date_end }}</li>

      </ul>

    </div>

    <p align="center"><a href="{% url 'courses_list' %}" class="btn btn-lg btn-default">к списку</a></p>

  {% endblock %}  


  {% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
  {% endblock %}
