{% extends "courses/base.html" %}


  {% block content%}    

       <div class="panel panel-default">
         <!-- Default panel contents -->
       <div class="panel-heading">Список курсов</div>
       
             <!-- Table -->
            <table class="table"><thead>
              <tr>
                <th>#</th>
                <th>Наименование курса</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
              </tr>
            </thead>

             <tbody>

             {% for course in courses %}
              <tr>
                <td>{{ course.id }} </td>
                <td> 
                 <a href="{% url 'course_item' course.id %}">
                   {{ course.name }} 
                 </a>
                </td>
                <td>{{ course.date_start }} </td>
                <td>{{ course.date_end }} </td>
               </tr>
              {% endfor %}

            </tbody>  
    
        </table>
       </div>
    </div>

{% endblock %} 


{% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
{% endblock %}
