{% extends "coaches/base.html" %}


  {% block content%} 

      <h1>Преподаватель: {{ coach.surname }} {{ coach.name }}</h1>

      <ol type="1" class="list-group">

         <li class="list-group-item">Название курса: {{ coach.name_cours }}</li>
         <li class="list-group-item">Роль в обучении: {{ coach.job_title }}</li>

         <li class="list-group-item">Уровень доступа: {{ coach.job_status }}</li> 

         <li class="list-group-item">Дата рождения: {{ coach.date_of_birth }}</li>
        
         <li class="list-group-item">Imail: {{ coach.email }}</li>
         <li class="list-group-item">Телефон: {{ coach.phone }}</li>  
         <li class="list-group-item">dossier: {{ coach.dossier }}</li>

      </ol>
          

    </div>

    <p align="center"><a href="{% url 'coaches_list' %}" class="btn btn-lg btn-default">К списку</a></p>

  {% endblock %}

  {% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
  {% endblock %}
