{% extends "coaches/base.html" %}


  {% block content%}  

    <h2>Список преподавателей</h2>

      <table class="table"><thead>
              <tr>
                
                <th>Преподаватель</th>
                <th></th>
              </tr>
            </thead>

             <tbody>

             {% for coach in coaches %}
              <tr>
                <td><a href="{% url 'coaches_item' coach.id %}">
                    {{ coach.surname }} {{ coach.name }} 
                    </a> 
                </td>
                
                <td><a href="{% url 'coaches_form' coach.id %}">редактировать</a></td>
                
               </tr>
              {% endfor %}

            </tbody>  
    
        </table>

      <p> <a href="{% url 'coaches_add' %}">Добавить преподавателя</a></p>

  {% endblock %}  

  {% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
  {% endblock %}
