{% extends "coaches/base.html" %}


  {% block content%}  

    <h2>Список преподавателей</h2>

      <ol class="list-group">

        {% for coach in coaches %}
         <li>
           <a href="{% url 'coach_item' coach.id %}">
           {{ coach.surname }} {{ coach.name }} 
           </a>
         </li>
        {% endfor %}

      </ol>

    </div>

  {% endblock %}  

  {% block gotostart%}
    <p align="center"><a href="{% url 'home' %}" class="btn btn-lg btn-default">Домой</a></p>  
  {% endblock %}
